<html>

<title>Sentiment Analysis Result</title>

<body>

<h1>News-Twitter Sentiment Analysis</h1>

<h2>News Collection</h2>
<iframe src="../text/News/news.txt" width="600" height = "400">
  <p>Your browser does not support iframes.</p>
</iframe><br/>

<h2>Keywords Extraction</h2>
<iframe src="../text/News/keywords.txt" width="150" height = "200">
  <p>Your browser does not support iframes.</p>
</iframe><br />
<h2>Gross Sentiment Analysis</h2>
<img src="../img/stat.png" alt="plot"/>

</body>
</html>
